.amir {
    font-size: medium;
    line-height: normal;
    font-family: cursive;
}

.lmao {
    font-size: xx-large;
    line-height: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nana {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.sth {
    font-size: x-large;
    line-height: normal;
    font-family: cursive;
}